<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>virgin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F92EDD51D8B966D0074A53E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F92EDEE1D8B966D0074A53E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F92EDF91D8B966D0074A53E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
